@import "partials/settings";
@import "../bower_components/foundation/scss/foundation.scss";

$teal:#99CCCC;
$black: #000;
$grey: #666;
$darkgrey: #333;
$footergrey: #494949;
$white: #FFF;

#header-block {
  background-color: $teal;
  background-image: url('/Assets/header_bg.png'), url(/Assets/logo.png);
  background-repeat: repeat, no-repeat;
  background-position: 50% 30%;
  height: 220px;
  position: relative;
  padding-top: 1px;

  #title {
    font-size: 20px;
    
    a{ 
      position: absolute;
      bottom: 50px;
      left: 0;
      width: 100%;
      text-align: center;
      color: $black;
      font-family: 'Open Sans', sans-serif;
    }
  }


  .top-bar {
    position: absolute;
    bottom: -20px;
    left: 180px;
    text-align: center;
    border-radius: 10px;
    width: 80%;

    .top-bar-section {
      display: inline-block;

      ul li a {
        color: $teal;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
      }

      ul li a:hover {
        color: $white;
      }
    }
  }
}

#content-block {
  position: relative;
  display: block;
  top: 70px;

  .main-content{
    background-color: $teal;
    padding: 70px;
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 25px;
      font-weight: 300;
    }
    img {
      position: absolute;
      bottom: -100px;
      left: 120px;
      padding: 20px;
    }
    .button {
      position: absolute;
      background-color: $grey;
      top: 120px;
      left: 100px;
      width: 70%;
      border-bottom: 5px solid $black;
    }
  }

  .link-content{
    // position: absolute;
    text-align: center;
    margin: 50px auto 100px auto;

    h4, h1, p{
      color: $white;
      font-family: 'Open Sans', sans-serif; 
    }
    
    .moon {
      background-color: $grey;
      // padding: 35px;
      // margin-right: 10px;
      // margin-left: -20px;
      height: 300px;
    }

    .earth {
      background-color: $grey;
      // padding: 35px;
      height: 300px;
    }

    .jupiter {
      background-color: $grey;
      list-style-type: none;
      height: 300px;

      .button.expand {
        top: 27px;
        background-color: $grey; 
      }
    }
  }
}

#footer-block {
  position: relative;
  top: 55px;
  height: 70px;
  background-color: $footergrey; 

  p{
    color: $grey;
    text-align: center;
    padding: 25px;
    font-size: 15px;
  }
}