<p>
  test
  <%= 2 + 5 %>
</p>
<p>
  <% if (myname == "so annoying") { %>
    <span>you are so annoying</span>
  <% }else{ %>
    your name is <%= myname %>
  <% } %>
</p>

<ul>
  <% for (var i = 0; i < mypets.length; i++) { %>
    <li> <%= mypets[i] %> </li>
  <% } %>

</ul>